<div class="enquire-block enquire-block__common">
    <h3 class="title">
        common
    </h3>
    <ul class="features__list">
        <li class="features__item" data-price="750" data-parent="common">
            <div class="features__title">user profile</div>
            <div class="features__icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="450" data-parent="common">
            <div class="features__title">app setting</div>
            <div class="features__icon">
                <i class="fa fa-cog"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="common">
            <div class="features__title">item grid/list</div>
            <div class="features__icon">
                <i class="fa fa-list-alt"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="common">
            <div class="features__title">calendar</div>
            <div class="features__icon">
                <i class="fa fa-calendar-check-o"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="common">
            <div class="features__title">Search/filter</div>
            <div class="features__icon">
                <i class="fa fa-search"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="common">
            <div class="features__title">Multi language</div>
            <div class="features__icon">
                <i class="fa fa-language"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
    </ul>
</div>