<div class="enquire-block enquire-block__login">
    <h3 class="title">
        Login
    </h3>
    <ul class="features__list">
        <li class="features__item" data-price="300" data-parent="login">
            <div class="features__title">Email</div>
            <div class="features__icon">
                <i class="fa fa-envelope-o"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="300" data-parent="login">
            <div class="features__title">Facebook</div>
            <div class="features__icon">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="300" data-parent="login">
            <div class="features__title">Twitter</div>
            <div class="features__icon">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="300" data-parent="login">
            <div class="features__title">Google+</div>
            <div class="features__icon">
                <i class="fa fa-google-plus"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="300" data-parent="login">
            <div class="features__title">linkedin</div>
            <div class="features__icon">
                <i class="fa fa fa-linkedin"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="300" data-parent="login">
            <div class="features__title">github</div>
            <div class="features__icon">
                <i class="fa fa fa-github"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
    </ul>
</div>