<div class="enquire-block enquire-block__factors">
    <h3 class="title">
        Form Factors
    </h3>
    <ul class="features__list">
        <li class="features__item features__item-not" data-factor="factor">
            <div class="features__title">Phone</div>
            <div class="features__icon">
                <i class="fa fa-mobile"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item features__item-not" data-factor="factor">
            <div class="features__title">Tablet</div>
            <div class="features__icon">
                <i class="fa fa-tablet"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item features__item-not" data-factor="factor" >
            <div class="features__title">Desktop(web only)</div>
            <div class="features__icon">
                <i class="fa fa-desktop"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
    </ul>
</div>