<div class="enquire-block enquire-block__social">
    <h3 class="title">
        social
    </h3>
    <ul class="features__list">
        <li class="features__item" data-price="300" data-parent="social">
            <div class="features__title">Facebook sharing</div>
            <div class="features__icon">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="300" data-parent="social">
            <div class="features__title">Twitter sharing</div>
            <div class="features__icon">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="social">
            <div class="features__title">activity feed</div>
            <div class="features__icon">
                <i class="fa fa-list"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="450" data-parent="social">
            <div class="features__title">app invite</div>
            <div class="features__icon">
                <i class="fa fa-envelope-o"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="450" data-parent="social">
            <div class="features__title">like</div>
            <div class="features__icon">
                <i class="fa fa-thumbs-o-up"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="social">
            <div class="features__title">rating system</div>
            <div class="features__icon">
                <i class="fa fa-star-o"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="450" data-parent="social">
            <div class="features__title">favorite</div>
            <div class="features__icon">
                <i class="fa fa-heart-o"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="social">
            <div class="features__title">subscribe/follow</div>
            <div class="features__icon">
                <i class="fa fa-plus-circle"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="social">
            <div class="features__title">notifications</div>
            <div class="features__icon">
                <i class="fa fa-bell-o"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
    </ul>
</div>