<div class="enquire-block enquire-block__device">
    <h3 class="title">
        Device/Multimedia
    </h3>
    <ul class="features__list">
        <li class="features__item" data-price="750" data-parent="device">
            <div class="features__title">camera/gallery</div>
            <div class="features__icon">
                <i class="fa fa-camera"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="device">
            <div class="features__title">location/gps</div>
            <div class="features__icon">
                <i class="fa fa-map-marker"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="device">
            <div class="features__title">compass</div>
            <div class="features__icon">
                <i class="fa fa-compass"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="device">
            <div class="features__title">audio</div>
            <div class="features__icon">
                <i class="fa fa-file-audio-o"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="750" data-parent="device">
            <div class="features__title">video</div>
            <div class="features__icon">
                <i class="fa fa-file-video-o"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="600" data-parent="device">
            <div class="features__title">qr code</div>
            <div class="features__icon">
                <i class="fa fa-qrcode"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
    </ul>
</div>