<div class="enquire-block enquire-block__server">
    <h3 class="title">
        Server
    </h3>
    <ul class="features__list">
        <li class="features__item" data-price="1500" data-parent="server">
            <div class="features__title">Web server</div>
            <div class="features__icon">
                <i class="fa fa-globe"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="3000" data-parent="server">
            <div class="features__title">app server</div>
            <div class="features__icon">
                <i class="fa fa-server"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="1500" data-parent="server">
            <div class="features__title">cloud deployment</div>
            <div class="features__icon">
                <i class="fa fa-cloud"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
    </ul>
</div>