<div class="enquire-block enquire-block__platform">
    <h3 class="title">
        Platform
    </h3>
    <ul class="features__list">
        <li class="features__item features__item-not ios" data-factor="platform" data-price="600">
            <div class="features__title">iOS</div>
            <div class="features__icon">
                <i class="fa fa-apple"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item features__item-not android" data-factor="platform" data-price="600">
            <div class="features__title">Android</div>
            <div class="features__icon">
                <i class="fa fa-android"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item features__item-not microsoft" data-factor="platform" data-price="600">
            <div class="features__title">Microsoft</div>
            <div class="features__icon">
                <i class="fa fa-windows"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item features__item-not web" data-factor="platform" data-price="600">
            <div class="features__title">Web</div>
            <div class="features__icon">
                <i class="fa fa-desktop"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
    </ul>
</div>