<div class="enquire-block enquire-block__ecommerce">
    <h3 class="title">
        Ecommerce
    </h3>
    <ul class="features__list">
        <li class="features__item" data-price="1500" data-parent="ecommerce">
            <div class="features__title">SHOPPING CART/CHECKOUT</div>
            <div class="features__icon">
                <i class="fa fa-cart-arrow-down"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="1500" data-parent="ecommerce">
            <div class="features__title">paypal</div>
            <div class="features__icon">
                <i class="fa fa-paypal"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="1500" data-parent="ecommerce">
            <div class="features__title">stripe</div>
            <div class="features__icon">
                <i class="fa fa-cc-stripe"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
        <li class="features__item" data-price="1500" data-parent="ecommerce">
            <div class="features__title">inapp purchase</div>
            <div class="features__icon">
                <i class="fa fa-money"></i>
            </div>
            <div class="checked">
                <i class="fa fa-check-circle"></i>
            </div>
        </li>
    </ul>
</div>