<div class="header">
    <div class="wrapper">
        <div class="logotype">
            <a class="logotype__link" href="/">

            </a>
        </div>
        <div class="nav">
            <ul class="nav__list nav__main">
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".block--why-app">Заказы</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".block-why-us">Почему мы?</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".portfolio">Портфолио</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".partners">Партнерские программы</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".work">Как мы работает</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".contact-us">Контакты</a>
                </li>
                <li class="nav__item language-choose">
                    <a href="/" class="rus active">рус</a> |
                    <a href="/en.html" class="en">eng</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggle visible-xs" type="button" data-toggle="collapse" data-target="#category-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

</div>