<div class="header">
    <div class="wrapper">
        <div class="logotype">
            <a class="logotype__link" href="/">

            </a>
        </div>
        <div class="nav">
            <ul class="nav__list nav__enquire">
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".enquire-block__platform">Platforms</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".enquire-block__factors">Factors</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".enquire-block__login">Login</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".enquire-block__social">Social</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".enquire-block__common">Common</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".enquire-block__device">Media</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".enquire-block__ecommerce">Ecommerce</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".enquire-block__server">Server</a>
                </li>
                <li class="nav__item language-choose">
                    <a href="/enquire.html" class="rus active">рус</a> |
                    <a href="/enquire-en.html" class="en">eng</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggle visible-xs" type="button" data-toggle="collapse" data-target="#category-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

</div>