<div class="header">
    <div class="wrapper">
        <div class="logotype">
            <a class="logotype__link" href="/en.html">

            </a>
        </div>
        <div class="nav">
            <ul class="nav__list nav__main">
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".block--why-app">Orders</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".block-why-us">Why us?</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".portfolio">Portfolio</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".partners">Partnership</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".work">How we work</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link" data-target=".contact-us">Contact us</a>
                </li>
                <li class="nav__item language-choose">
                    <a href="/" class="rus">рус</a> |
                    <a href="/en.html" class="en active">eng</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggle visible-xs" type="button" data-toggle="collapse" data-target="#category-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

</div>