@import "../../../../bower_components/reset-scss/reset";

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-bold-webfont.woff') format('woff'),
  url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
  url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

$dark:  #354153;
$dark-blue:  #3C6AB6;
$blue:  #629DF2;
$light-blue: #9FBEEB;
$light-gray: #D9E4FF;
$header-bg: #ECECEC;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  min-width: 1366px;
  &.no-overflow {
    overflow-y: hidden;
  }
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

.sb-toggle-left {
  position: absolute;
  top: 50%;
  float: left;
}

.navbar-toggle {
  padding: 0;
  width: 30px;
  border: 0;
  background: transparent;
  border-radius: 0 !important;
  position: absolute;
  top: 50%;
  margin: -9px 0 0;
  left: 30px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.icon-bar {
  border-radius: 0 !important;
  height: 3px;
  width: 27px;
  margin: 0 0 3px;
  background: #fff;
  display: none;
}

.header {
  height: 47px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 99999;
  border-bottom: 1px solid #ccc;
}

/*Logo*/
.logotype {
  display: inline-block;
  width: 192px;
  &__link {
    display: block;
    height: 37px;
    max-height: 100%;
    max-width: 100%;
    background: url('../img/logo_mirsoft.png') no-repeat 0 0;
    margin-top: 5px;
  }
}

.nav {
  float: right;
  &__list {
    padding: 0;
    text-align: right;
  }
  &__item {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    font-weight: 500;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: $dark;
    text-transform: uppercase;
    line-height: 49px;
    display: block;
    text-decoration: none;
    &:hover {
      color: $dark-blue;
    }
  }
  .language-choose {
    position: relative;
    a {
      color: #666;
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      &.active {
        color: #3C6AB6;
        text-decoration: underline;
      }
    }
  }
}

.block {
  //min-height: 583px;
  //height: 100vh;
  padding-top: 70px;
  //min-height: 100vh;
  &--main {
    background: url('../img/fon.png') no-repeat 0 0;
    background-size: cover;
    display: table;
    width: 100%;
    position: relative;
    min-height: 100vh;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url('../img/grad_fone.png') repeat 0 0;
    }
    &__content {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      position: relative;
      z-index: 999;
    }
    &__logo {
      background: url('../img/logo-big.png') no-repeat 50% 0;
      width: 320px;
      height: 211px;
      margin: 0 auto 220px;
    }
    &__logo-name {
      font-size: 46px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    &__logo-text {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}
.bottom-logos {
  bottom: -2px;
  z-index: 99;
  left: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  &-img {
    display: inline-block;
    margin: 0 55px;
    width: 259px;
    height: 198px;
  }
  &--iphone {
    background: url('../img/main-iphone.png') no-repeat 0 0;

  }
  &--samsung {
    background: url('../img/main-samsung.png') no-repeat 0 0;
  }
}

.block--why-app {
  background: $blue;
  position: relative;
  .btn__order {
    display: block;
    float: right;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    margin-top: 80px;
    text-transform: uppercase;
  }
}
.block--why-app {
  min-height: 620px;
}
.why-app {
  padding-top: 200px;
  &__title {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-left: 75px;
  }
  &__title-highlighted {
    background: #fff;
    color: #629DF2;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    padding: 10px 0 10px 75px;
  }
  &__paragraphs {
    padding-left: 75px;
    padding-right: 50%;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
    line-height: 30px;
    position: relative;

  }
  &__bg {
    content: '';
    position: absolute;
    right: 5%;
    bottom: 0;
    background: url('../img/why-us.png') no-repeat 90% 100%;
    height: 100%;
    width: 40%;
  }
}

.why-us {
  &__title {
    background: $dark;
    padding: 5px;
    color: $blue;
    font-size: 38px;
    text-transform: uppercase;
    text-align: right;
    position: relative;
    font-weight: 300;
    padding-right: 75px;
    span {
      font-size: 42px;
      font-weight: 500;
    }
  }
  &__list {
    text-align: center;
    margin-top: 50px
  }
  &__item {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 32%;
    padding: 0 15px;
    text-align: left;
    font-size: 16px;
    color: #06203b;
    line-height: 25px;
    margin-bottom: 75px;
    font-weight: 500;
    .why-us__icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 71px;
      height: 71px;
    }
    &-design {
      .why-us__icon {
        background: url('../img/design.png') no-repeat 0 0;
      }
    }
    &-quality {
      .why-us__icon {
        background: url('../img/quality.png') no-repeat 0 0;
      }
    }
    &-price {
      .why-us__icon {
        background: url('../img/money.png') no-repeat 0 0;
      }
    }
    &-methods {
      .why-us__icon {
        background: url('../img/methods.png') no-repeat 0 0;
      }
    }
    &-mobile {
      .why-us__icon {
        background: url('../img/mobile.png') no-repeat 0 0;
      }
    }
    &-partners {
      .why-us__icon {
        background: url('../img/partners.png') no-repeat 0 0;
      }
    }
    &__text {
      margin-top: 25px;
    }
    &__title {
      display: table-cell;
      padding-left: 91px;
      height: 71px;
      width: 100%;
      text-align: left;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      vertical-align: middle;
      color: #3a95d8;
    }
  }
}

.portfolio {
  background: #3A95D8;
  padding-top: 75px;
  position: relative;
  min-height: 630px;
  .wrapper.inner {
    position: absolute;
    max-width: 1366px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__title {
    background: #fff;
    padding: 10px 0 10px 75px;
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
    color: #3A95D8;
  }
}

.tab {
  display: none;
  .app-slider {
    height: 409px;
    position: relative;

  }
  .iphone-slider {
    float: left;
    width: 249px;
    overflow: hidden;
    &:after {
      content: '';
      top: 1px;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      background: url('../img/slider-iphone.png') no-repeat 0 0;
    }
    img {
      position: relative;
      top: 72px;
      left: 15px;
    }
  }
  .samsung-slider {
    float: right;
    width: 253px;
    overflow: hidden;
    &:after {
      content: '';
      top: 3px;
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background: url('../img/slider-samsung.png') no-repeat 0 0;
    }
    img {
      position: relative;
      top: 56px;
      left: 11px;
    }
  }
  &.active {
    display: block;
  }
  &-list {
    margin-top: 30px;
    padding: 15px 100px 25px;
    background: url('../img/line-black.png') no-repeat 50% 0;
    background-size: 100% 5px;
    text-align: center;
    a {
      text-transform: uppercase;
    }
    &__item {
      display: inline-block;
      padding: 0 5px;
      position: relative;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 5px;
          background: #fff;
          left: 0;
          top: -15px;
        }
        a {
          color: #fff;
        }
      }
      a {
        text-decoration: none;
        color: #06203B;
        font-size: 18px;
      }
    }
  }
  .tab-center {
    width: calc(100% - 253px - 249px);
    float: left;
    padding: 30px 60px;
    .tab-text {
      color: #fff;
      font-size: 16px;
      line-height: 24px;
    }
  }

  video {
    margin-top: 25px;
    width: 100%;
    height: 200px;
  }
}

.partners {
  background: #E6E6E6;
  padding-top: 75px;
  min-height: 630px;
  &__title {
    background: #3A95D8;
    padding: 10px 0 10px 75px;
    font-size: 42px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
  }
  &-list {
    margin-top: 35px;
    text-align: center;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 20px;
      height: 20px;
      border: 5px solid #3A95D8;
      background: #E6E6E6;
      left: 50%;
      border-radius: 100%;
      margin-left: -15px;
      margin-top: -10px

    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 5px;
      left: 17.7%;
      width: 64.5%;
      background: #3A95D8;
    }
  }
  &-block {
    width: 32%;
    display: inline-block;
    position: relative;
    padding: 120px 30px 0;
    vertical-align: top;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -2px;
      top: 0;
      width: 5px;
      height: 40px;
      background: #3A95D8;
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
      top: 40px;
    }
    &__mobile {
      &:after {
        background: url('../img/development.png') no-repeat 0 0;
      }
    }
    &__franchise {
      &:after {
        background: url('../img/sell.png') no-repeat 0 0;
      }
    }
    &__partners {
      &:after {
        background: url('../img/be-our-partner.png') no-repeat 0 0;
      }
    }
    &__title {
      background: #3A95D8;
      padding: 25px 15px;
      font-size: 18px;
      color: #fff;
      font-weight: bold;
      min-height: 75px;
    }
    &__text {
      padding: 25px 25px 50px;
      color: #06203B;
      background: #fff;
      text-align: left;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.team {
  background: #3A95D8;
  padding-top: 25px;
  &__title {
    color: #3A95D8;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    padding: 25px 15px;
  }
}

.work {
  position: relative;
  background: #27272E;
  overflow: hidden;
  &__title {
    color: #0E293D;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    background: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    position: absolute;
    top: 25px;
    width: 100%;
    z-index: 999;
  }
  &__item {
    list-style: none;
    display: block;
    float: left;
    width: 20%;
    min-height: 550px;
    padding-top: 175px;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 125px;
      margin-bottom: 25px;
    }
    &-step-1 {
      background: url('../img/fon1.png') no-repeat 0 0;
      background-size: cover;
      &:before {
        background: url('../img/how-1.png') no-repeat 50% 0;
      }
    }
    &-step-2 {
      background: url('../img/fon2.png') no-repeat 0 0;
      background-size: cover;
      &:before {
        background: url('../img/how-2.png') no-repeat 50% 0;
      }
    }
    &-step-3 {
      background: url('../img/fon3.png') no-repeat 0 0;
      background-size: cover;
      &:before {
        background: url('../img/how-3.png') no-repeat 50% 0;
      }
    }
    &-step-4 {
      background: url('../img/fon4.png') no-repeat 0 0;
      background-size: cover;
      &:before {
        background: url('../img/how-4.png') no-repeat 50% 0;
      }
    }
    &-step-5 {
      background: url('../img/fon5.png') no-repeat 0 0;
      background-size: cover;
      &:before {
        background: url('../img/how-5.png') no-repeat 50% 0;
      }
    }
  }

  &__content {
    padding: 0 25px;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    &__count {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

.contact-us {
  background: #E6E6E6;
  padding-top: 75px;
  padding-bottom: 25px;

  &__submit {
    border: 1px solid #3A95D8;
    border-radius: 6px;
    padding: 15px 35px;
    background: #fff;
    margin: 15px auto;
    display: block;
    color: #3A95D8;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
  &__title {
    color: #3A95D8;
    font-size: 42px;
    font-weight: 500  ;
    text-align: center;
    padding: 25px 15px;
    text-transform: uppercase;
  }

  &--form {
    background: #fff;
    padding: 25px;
    textarea {
      width: 100%;
      margin-top: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 15px;
      resize: vertical;
      font-size: 16px;
      min-height: 120px;
    }
    input {
      font-size: 16px;
      display: block;
      width: 48%;
      min-height: 35px;
      padding: 0 15px;
      border-radius: 4px;
      border: 1px solid #ccc;
      &.name {
        float: left;
      }
      &.email {
        float: right;
      }
    }
  }

  .address {
    background: #3A95D8;
    position: relative;
    margin-top: 180px;
    padding: 40px 0 25px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    &:before {
      content: '';
      position: absolute;
      width: 160px;
      height: 160px;
      left: 50%;
      margin-left: -80px;
      top: -130px;
      background: url('../img/mail.png') no-repeat 0 0;
    }
    &-block {
      display: inline-block;
      margin-bottom: 15px;
      padding: 0 15px;
      .label {
        font-family: 'roboto-bold-webfont';
      }
    }
  }
}

.hidden {
  visibility: hidden;
}

.message .success-message {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 25px;
  background: #fff;
}
.block--main__logo.en {
  background: url("../img/logo_mirsoft_en.png") no-repeat 50% 0;
}

@import "enquire";