.enquire {
  background: #f1f1f1;
  margin-top: 47px;
  padding-top: 75px;
  padding-bottom: 70px;
  .title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
    text-align: center;
    color: #666;
    margin-bottom: 55px;
  }
}

.enquire-price {
  position: fixed;
  top: 75px;
  right: 125px;
  min-height: 125px;
  width: 250px;
  padding: 25px;
  border-radius: 6px;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.5);
  &__title {
    font-weight: bold;
    color: #666;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
    &.collapse {
      .fa-chevron-down {
        display: inline-block;
      }
      .fa-chevron-up {
        display: none;
      }
    }
    .fa-chevron-down {
      display: none;
    }
    .fa {
      margin-left: 5px;
      position: relative;
      top: -2px;
    }
  }
  &__price {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    color: #3C6AB6;
  }
  &__buy {
    background: #3C6AB6;
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
  }
}

.detailed-pricing {
  margin-top: 25px;
  height: 0;
  overflow: hidden;
  position: relative;
  &.collapse {
    height: auto;
    overflow: inherit;
  }
  &__item {
    display: table;
    width: 100%;
    position: relative;
    padding-top: 15px;
    margin-top: 15px;
    &:before {
      content: '';
      position: absolute;
      width: 250px;
      top: 0;
      left: -25px;
      border-top: 1px solid #ccc;
    }
  }
  &__name,
  &__value {
    display: table-cell;
    color: #777;
    font-size: 14px;
  }
  &__value {
    text-align: right;
  }
}
.enquire-block {
  &:not(:first-child) {
    margin-top: 125px;
  }
}

.features {
  &__item {
    border: 1px solid transparent;
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 0 2% 25px;
    background: lighten(#ccc, 10);
    border-radius: 6px;
    padding: 25px;
    cursor: pointer;
    -webkit-transition: box-shadow 0.3s ease-out;
    -moz-transition: box-shadow 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
    .fa {
      -webkit-transition: color 0.3s ease-out;
      -moz-transition: color 0.3s ease-out;
      -o-transition: color 0.3s ease-out;
      transition: color 0.3s ease-out;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.5);
      .fa {
        color: #3C6AB6;
      }
    }
    &.visible {
      -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.5);
      border: 1px solid #ccc;
      .checked {
        visibility: visible;
      }
    }
    .checked {
      visibility: hidden;
      .fa {
        color: #3C6AB6;
        font-size: 20px;
      }
    }
  }
  &__title {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__icon {
    .fa {
      font-size: 64px;
      color: #777;
    }
    margin-bottom: 35px;
  }
}

.enquire-block__server {
  padding-bottom: 200px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  //left:

  &-header {
    position: relative;
  }

  &-title {
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  &-dialog {
    max-width: 510px;
    position: relative;
    top: 75px;
    margin: 0 auto;
    background: #fff;
    border-radius: 6px;
  }

  .close {
    width: 16px;
    height: 16px;
    background: url("../img/icon-modal-close.svg") no-repeat 0 0;
    background-size: 12px;
    top: 16px;
    opacity: 1;
    position: absolute;
    right: 15px;
    border: none;
    cursor: pointer;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
  &.in {
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 99999;
  }
}

.contact-us--form {
  background: #fff;
  padding: 25px;
  textarea {
    width: 100%;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    resize: vertical;
    font-size: 16px;
    min-height: 120px;
  }
  input {
    font-size: 16px;
    display: block;
    width: 100%;
    min-height: 35px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    &:first-child {
      margin-bottom: 15px;
    }
  }
}

.success-message {
  padding: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}